@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
  --color-brand-900: #064e3b;
  --font-sans: "Outfit", "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #060a13;
  color: #f1f5f9;
}
